.formulario{
    display: flex;
    justify-content: center;
    form{
        width:100%;

        @include desktop {
            width: 50%;
        }

        input{
            padding:0.5rem;
            border: none;
            border-radius: 0.3rem;
            
            &[type="submit"]{
                border: none;
                font-size: 1.3rem;
                transition: opacity .3s ease-out;
                background-color: $primario-300;
                color: $texto-100;
            }
            &[type="submit"]:hover{
                opacity: 0.8;
            }

        }

    }
    
}