$primario-100:#FFA07A;
$primario-200:#de835f;
$primario-300:#944424;
$acentoPrimario-100:#FFC0CB;
$acentoSecundario-200:#99616c;
$texto-100:#FFFFFF;
$texto-200:#e0e0e0;
$bg-100:#C24F4F;
$bg-200:#d86260;
$bg-300:#f97f7b;

